input { 
    font-size:30px;
	width:100px;
	height:80px;
	background-color:#a4a4fe;
	
}

table,input {
    text-align: center;
    border: 3px,black;
}

.sonucEkrani { 
    font-size:50px;
	width:100px;
	height:80px;
	
}

body {
	background-color: #4242e6;
	color: #a4a4fe;
	text-align: center;
